[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/bin/desktop-defaults-kde; true
Icon=html
Terminal=no
Name=Autostart some KDE-Services
Name[de]=Startet automatisch einige KDE-Dienste
Name[ru]=служит для автостарта некоторых служб KDE
Name[pt]=Lançamento automático de Serviços do KDE
Name[pt_BR]=Lançamento automático de Serviços do KDE
