Source: desktop-defaults
Section: x11
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Joaquim Boura <x-un-i@sapo.pt>,
 Roland Engert <Roland.Engert@web.de>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.8
Vcs-git: git://github.com/fullstory/desktop-defaults.git
Vcs-Browser: https://github.com/fullstory/desktop-defaults

Package: desktop-defaults
Architecture: all
Depends: ${misc:Depends},
 distro-defaults,
 fll-live-initscripts,
 aptosid-art-wallpaper,
 sudo,
 laptop-detect
Suggests: firefox
Description: common user presets for various popular desktop applications
 Supported desktop environments are:
  - GNOME
  - KDE
  - LXDE
  - LXQt
  - Xfce
 .
 This package provides required infrastructure to tweak various popular desktop
 applications:
  - fluxbox menu
  - gksu/ kdesu/ su/ sudo/ su-to-rootrc
  - use mcedit within mc
  - GnuPG
  - XDG desktop icons
 .
 This is a FULLSTORY live-only package and must not be installed to an
 ordinary system.
