[Unit]
Description=preseed common desktop settings
Requires=fll-adduser.service
After=fll-adduser.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=1000
Group=1000
ExecStart=/usr/share/desktop-defaults/fll_desktop
Restart=no

[Install]
WantedBy=graphical.target
