#!/usr/bin/make -f

%:
	dh ${@} --parallel

override_dh_installinit:
	dh_installinit
	dh_installinit --package=desktop-defaults --no-start --name=fll-common-desktop
	dh_installinit --package=desktop-defaults --no-start --name=fll-gnome-desktop
	dh_installinit --package=desktop-defaults --no-start --name=fll-kde-desktop
	dh_installinit --package=desktop-defaults --no-start --name=fll-lxde-desktop
	dh_installinit --package=desktop-defaults --no-start --name=fll-lxqt-desktop
	dh_installinit --package=desktop-defaults --no-start --name=fll-xfce-desktop
